[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "grmsem"]
	path = grmsem
	url = https://github.com/cran/grmsem
	shallow = true
	registered = true
